.story-mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10vw;

    .container-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .text-mobile {
            display: flex;
            flex-direction: column;

            #title-mobile {
                color: #eee;
                font-family: "Roboto";
                font-size: 16px !important;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
            }

            #header-mobile {
                margin: 30px 56px 64px 0px;
                margin-top: 25px;

                color: #fff;
                font-family: "Roboto";
                font-size: 48px !important;
                font-style: normal;
                font-weight: 400;
            }

            #description-mobile {
                margin: 0px 56px 0px 0px;

                color: #fff;
                font-family: "Roboto";
                font-size: 20px !important;
                font-style: normal;
                font-weight: 400;
            }
        }

        .creator-mobile {
            position: relative;

            margin-top: 80px;

            #founder-mobile {
                height: 100vw;

                border-radius: 10px;
                background: #d9d9d9;
            }

            .links-mobile {
                position: absolute;
                bottom: 30px;

                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 10vw;

                    margin-left: 10px;
                    margin-right: 10px;

                    &:hover {
                        cursor: pointer;
                        filter: brightness(60%);
                    }
                }
            }

            .description-mobile {
                width: fit-content;

                position: absolute;
                bottom: 20%;
                right: -8%;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                padding: 13px 16px;
                margin: auto;

                border-radius: 10px 10px 10px 0px;
                background: #c3f53c;

                #name-mobile {
                    color: #000;
                    font-family: "Roboto";
                    font-size: 44px !important;
                    font-style: normal;
                    font-weight: 500;
                }

                #title-mobile {
                    color: #000;
                    font-family: "Roboto";
                    font-size: 48px !important;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
}
