@import "../../../../../../index.scss";

.header-main-mobile {
    overflow-x: clip;

    display: flex;
    flex-direction: column;

    .txt-container-mobile {
        z-index: 10;
        #regular-mobile {
            margin-left: 10vw;
            text-align: left;

            color: #ffffff;
            font-family: "Roboto";
            font-size: 4rem;
            font-style: normal;
            font-weight: 300;
        }

        #highlighted-mobile {
            margin-left: 10vw;
            text-align: left;

            color: #c3f53c;
            font-family: "Roboto";
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
        }

        #subtext-mobile {
            margin-left: 10vw;
            margin-top: 34px;
            text-align: left;

            color: #ffffff;
            font-family: "Roboto";
            font-size: 35px !important;
            font-style: normal;
            font-weight: 400;
        }
    }

    .btn-mobile {
        z-index: 10;
        padding: 12px 40px;

        margin: 100px auto 0px 10vw;

        text-decoration: none;

        border-radius: 50px;
        background: #c3f53c;

        color: #000;
        font-family: "Roboto";
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 600;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

    #hidden-logo-mobile {
        margin-left: 4vw;

        position: relative;

        width: 100%;

        top: 20px;
        left: 20px;
    }
}
