@import "../../../../../index.scss";

.footer-mobile {
    width: 100%;
    height: 288px;

    background: #0052bd;

    .container-mobile {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo-container-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 200px;
                height: 34px;
            }

            p {
                margin: 0;
                margin-top: 23px;

                color: #eee;
                font-family: "Roboto";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;

                img {
                    width: 120px;
                    height: 20px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
            }
        }

        .media-container-mobile {
            width: 220px;

            margin-top: 78px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            #media-btn-mobile {
                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }
}
