.tag-web {
    position: fixed;
    top: 230px;
    left: 0px;
    z-index: 100;

    #tag-web {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        img {
            user-drag: none;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }
}
