.navbar-mobile {
    #logo {
        margin: 10vw 0px 0px 10vw;

        height: 7.5vw;
    }

    .top-shadow {
        position: absolute;

        top: -50vw;
        left: 50vw;

        width: 100%;
        height: 100vw;

        background: #c4f53c5d;

        filter: blur(200px);
    }
}
