.navbar-mobile {
    overflow-x: clip;

    position: relative;

    width: 100%;

    margin-bottom: 400px;

    #logo {
        height: 6vw;

        position: relative;

        top: 18.5vw;
        left: 10vw;
    }

    .top-shadow {
        overflow-x: hidden;
        overflow-y: hidden;

        width: 100vw;
        height: 100vw;

        border-radius: 391px;
        background: #c3f53c;
        filter: blur(350px);

        position: absolute;

        top: -60vw;
        right: -46vw;
    }
}
