@import "../../../../../../index.scss";

.header-main-web {
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 135px;

    .txt-container-web {
        z-index: 10;
        #regular-web {
            color: #ffffff;
            text-align: center;
            font-family: "Roboto";
            font-size: 64px;
            font-style: normal;
            font-weight: 300;
        }

        #highlighted-web {
            color: #c3f53c;
            text-align: center;
            font-family: "Roboto";
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
        }

        #subtext-web {
            margin-top: 34px;

            color: #ffffff;
            text-align: center;
            font-family: "Roboto";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .btn-web {
        z-index: 10;
        padding: 12px 27px;

        margin-top: 87px;

        border-radius: 30px;
        background: #c3f53c;

        color: #000;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;

        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

    #hidden-logo-web {
        z-index: 0;
        width: 100vw;
        position: relative;
        top: calc(-100vw * 0.105);
        left: calc(100vw * 0.026);
    }
}
