.transparency-mobile {
    z-index: 20;

    margin: 20vw 0px 15vw 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-mobile {
        .text-mobile {
            margin: 0px 50px 0px 0px;

            display: flex;
            flex-direction: column;

            #title-mobile {
                color: #eee;
                font-family: "Roboto";
                font-size: 40px !important;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
                text-align: left;
            }

            #header-mobile {
                margin-top: 20px;

                color: #fff;
                font-family: "Roboto";
                font-size: 70px !important;
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}
