@import "../../../../../../index.scss";

.us-web {
    display: flex;
    justify-content: space-between;

    @media (min-width: 1800px) {
        justify-content: space-evenly;
    }

    margin-left: 10vw;
    margin-right: 10vw;
    img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .container-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tabs-web {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            .tab-web {
                #tab-text-web {
                    margin-right: 10px;
                    margin-left: 10px;
                }

                &:first-child {
                    margin-right: 40px;
                }

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }

            #selected {
                #tab-text-web {
                    color: #c3f53c;
                    text-align: center;
                    font-family: "Roboto";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    text-transform: uppercase;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .underline-web {
                    margin-top: 8px;

                    height: 3px;
                    background: #c3f53c;
                }
            }

            #unselected {
                #tab-text-web {
                    color: #eee;
                    font-family: "Roboto";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    text-transform: uppercase;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .underline-web {
                    margin-top: 8px;

                    height: 3px;
                    background: #c3f53c;
                    opacity: 0;
                }
            }
        }

        .text-container-web {
            margin-top: 100px;

            #heading-web {
                width: 400px;

                margin-left: 25px;

                color: #fff;
                font-family: "Roboto";
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 108.687%;
            }

            #subtext-web {
                margin-top: 43px;
                margin-left: 25px;

                color: #fff;
                font-family: "Roboto";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .btn-container-web {
            width: 100%;

            display: flex;

            .btn-web {
                margin-top: 52px;
                margin-left: 25px;

                padding: 12px 27px;

                border-radius: 100px;
                border: 1px solid #fff;

                color: #c3f53c;
                text-align: center;
                font-family: "Roboto";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.1px;
                text-decoration: none;

                user-drag: none;
                -webkit-user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }

    #illustration-web {
        width: 643px;
    }
}
